$yellow: #ffae00;
$yelowHover: #e79e00;
$grey: #737188;
$lightGrey: #d9d5ff;
$green: #2b6b0e;
$white: #ffffff;
$dark: #353535;
$transparendDark: rgba(53, 53, 53, 0.5);

@mixin margenes($top, $bottom){
 margin-top: $top;
 margin-bottom: $bottom;
}

.jumbotron{
 @include margenes(50px, 0px)
}

.btn-contacto{
 background-color: $white;
 border: 1px solid $green;
 color: $green;
 border-radius: 5px!important;
}

.btn-contacto:hover{
 background-color: $green;
 color: $white;
}

.bg-hoteles{
 background-color: $yellow;
 color: $dark;
}

button.bg-hoteles:hover{
 background-color: $yelowHover;
}

.visited{
 background-color: $lightGrey;
 color: $white;
}

a{
 color: $dark;
 text-decoration: none;
}

a:hover{
 text-decoration: none;
}

.card-hotel{
 flex: 1 250px;
 border-radius: 0;
 @include margenes(50px, 0px)
}

.card-hotel div button {
 width: 100%;
}

footer{
 padding: 10px 10px 0px 10px;
 margin-bottom: 0px;
 margin-top: 10px;
}

.footer-address-icon {
 padding-right: 10px;
}

.btn{
 border-radius: 0;
}

.banner{
 background-image: url(../img/pdebanner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: bottom;
 height: 300px;
 color: $white;
}

.banner h3{
 background-color: $transparendDark;
}

h4 .badge-success{
 position: absolute;
 top: 120px;
 left: -8px;
}

h4 .badge-warning{
 position: absolute;
 top: 120px;
 right: -8px;
}

#carouselExampleControls div div{
 height: 400px;
}

#carouselExampleControls div div img{
 height: 100%;
 object-fit: cover;
 object-position: center center;
}

.btn-success{
 background-color: $green;
}

.badge-success{
 background-color: $green;
}